.description {
  font-size: 20px;
  margin: 1% 0;
}

.marquee {
  width: 85%;
  margin: 16px auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  font-size: 18px;
}

.marqueeblock {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 24s linear infinite;
}

.marqueeblock2 {
  animation-delay: 12s;
}

.ulmarquee {
  display: flex;
}

.SkillsDescription {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  width: 90%;
  font-size: 20px;
  margin: 8px 0;
}

.SkillsDescription img {
  align-self: center;
  justify-self: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1250px);
  }
}

.ulmarquee li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4px;
  align-items: center;
}

.skill {
  width: 30px;
}

.railsimg {
  width: 50px;
  margin: auto 0;
}

@media only screen and (min-width: 769px) {
  .description {
    font-size: 24px;
    width: 100%;
  }

  .marquee {
    font-size: 28px;
    width: 50%;
  }

  .skill {
    width: 40px;
  }

  .railsimg {
    width: 60px;
    margin: auto 0;
  }

  .marqueeblock {
    display: inline-block;
    padding-left: 100%;
    animation: marquee2 24s linear infinite;
  }

  .marqueeblock2 {
    animation-delay: 12s;
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-1830px);
    }
  }

  .SkillsDescription {
    width: 60%;
    font-size: 28px;
    margin: 16px 0;
  }
}
